<%- include('../partials/header') %>
<h1>All Blog Posts</h1>
<% if (posts.length === 0) { %>
    <p>No posts yet!</p>
<% } else { %>
    <ul>
        <% posts.forEach((post) => { %>
            <li>
                <h2><a href="/post/<%= post.id %>"><%= post.title %></a></h2>
                <p><%= post.content.substring(0, 100) %>...</p>
            </li>
        <% }) %>
    </ul>
<% } %>
<%- include('../partials/footer') %>
